 <hr>

    <div class="arch_contact_us_duplicate">

        <!-- desde aca -->

        <div class="row featurette footer-color">
            <div class="col-md-6 footer-text">
                <h1 class="mb-md-6 text-white">Contactanos</h1>
                <p class="text-white section-subhead">
                    ¿Listo para unirte a la aventura scout o simplemente tienes alguna pregunta? Estamos aquí para ayudarte. Completa nuestro formulario de contacto y te responderemos rápidamente. ¡Esperamos tu mensaje!
                </p>
            </div>
            <div class="col-md-6">
                <form>
                    <div class="row g-3">
                        <div float: right>
                            <div class="col-md-6">
                                <label for="your-name " class="form-label text-white">Nombre</label>
                                <input type="text" class="form-control custom-input" id="your-name" name="your-name" required>
                            </div>
                            <div class="col-md-6">
                                <label for="your-email" class="form-label text-white">Email</label>
                                <input type="email" class="form-control custom-input" id="your-email" name="your-email" required>
                            </div>
                            <div class="col-md-6">
                                <label for="your-message" class="form-label text-white">Mensaje</label>
                                <textarea class="form-control custom-input" id="your-message" name="your-message" rows="5"
                                    required></textarea>
                            </div>
                            <div class="col-md-6">
                                <div class="row">
                                    <div class="col-md-6">
                                        <button type="submit" class="btn btn-bg-footer w-100 fw-bold">Enviar</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>

        <!-- hasta aca -->
    </div>