@page "/Noticias"

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="./CardsNoticias.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">


</head>
<body>
    
    <div class="noticia">
        <div class="contenido">
            <h2>Título de la Noticia 1</h2>
            <p>Copete de la noticia 1. Aquí puedes incluir un resumen o una breve descripción de la noticia.</p>
        </div>
        <picture>
        <img src="Imgs/o1.jpeg" alt="Noticia 1">
        </picture>
    </div>

    <div class="noticia">
        <picture><img src="Imgs/o2.jpeg" alt="Noticia 2"> </picture>
        <div class="contenido">
            <h2>Título de la Noticia 2</h2>
            <p>Copete de la noticia 2. Otra breve descripción de la noticia.</p>
        </div>

    </div>
        <div class="noticia">
        <div class="contenido">
            <h2>Título de la Noticia 3</h2>
            <p>Copete de la noticia 3. Aquí puedes incluir un resumen o una breve descripción de la noticia.</p>
        </div>
        <picture> <img src="Imgs/o3.jpeg" alt="Noticia 3"></picture>
    </div>

    <div class="noticia">
        <picture> <img src="Imgs/banner1.jpeg" alt="Noticia 4"></picture>
        <div class="contenido">
            <h2>Título de la Noticia 4</h2>
            <p>Copete de la noticia 4. Otra breve descripción de la noticia.</p>
        </div>
        
    </div>
        <div class="noticia">
        <div class="contenido">
            <h2>Título de la Noticia 5</h2>
            <p>Copete de la noticia 5. Aquí puedes incluir un resumen o una breve descripción de la noticia.</p>
        </div>
        <picture> <img src="Imgs/banner2.jpeg" alt="Noticia 5"> </picture>
    </div>

    <div class="noticia">
        <picture><img src="Imgs/banner3.jpeg" alt="Noticia 6"></picture>
        <div class="contenido">
            <h2>Título de la Noticia 6</h2>
            <p>Copete de la noticia 6. Otra breve descripción de la noticia.</p>
        </div>
        
    </div>

</body>
</html>