table{
    margin-top:1rem;
    border:solid 2px black;
    border-radius:10px;
}

h1 {
    text-align: center;
    margin: 5rem 0 2rem 0;
}

tr
{
    border-radius: 15px;
}

.flex-options {
    display: flex;
    flex-direction: column;
}
.flex-options-details {
    display: flex;
    flex-direction: row;
}
.flex-options-details div{
    min-width:200px;
}
.flex-buttons {
    display: flex;
    justify-content: space-between;

}